[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "repo-iconify"]
	path = bin/repo-iconify
	url = git@gitlab.com:4U6U57/repo-iconify
[submodule "bin/open-window"]
	path = bin/wsl-open
	url = git@gitlab.com:4U6U57/wsl-open.git
[submodule "bin/git-open"]
	path = bin/git-open
	url = https://github.com/paulirish/git-open
[submodule "bin/liquidprompt"]
	path = bin/liquidprompt
	url = git@github.com:nojhan/liquidprompt.git
